@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 89 37% 15%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 89 37% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 10% 76%;
    --secondary-foreground: 273 100% 4%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 21 91% 41%;
    --accent-foreground: 43 78% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 89 37% 15%;
    --radius: 1rem;
    --platinum: 96 7% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}

.youform-modal-overlay.as-modal {
  /* margin-top: 80vh; */
  z-index: 999;
}
