@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial;
  src: url('/fonts/Avenir-Next/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Denton';
  src: url('/fonts/Denton/DentonCondensed-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 89 37% 15%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 89 37% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 77 10% 51%;
    --secondary-foreground: 273 100% 4%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 21 91% 41%;
    --accent-foreground: 43 78% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 89 37% 15%;
    --radius: 1rem;
    --platinum: 96 7% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-avenir;
  }
}
